html{
    background-color: yellow; 
}
body {
    
	font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 100%;
   
    margin-left: 30em;
    border: 4px solid navy;
    gap: 15px;
    max-width: 50px;
    
    
    background-color:white;
   
    
    width: 60%;
    max-width: 650px;
    
}

style{

h1{
   font-size: 28px;
   color: blue; 
   margin-left: 30em;
}
h2{
    font-size: 20px;
    margin-bottom: 30em;
    padding-bottom: 30%;
}
h3{
    font-size: 18px;
    margin-left: 30em;
}
}
footer{
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    border-top: 3px solid blue;
}